article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Gold colour : #ba962d; */

body {
	font-family: 'open sans', sans-serif;
	background: white;
}

a {
	color: black;
}

.signUp, .signIn {
	width: 100%;
	margin: 0 10px;
	float: left;
	padding: 20px;
	text-align: center;
}

.enterIngred {
	width: 100%;
}

.flower {
	z-index: -1;
}

.signUp h2,.signIn h2 {
	padding-bottom: 20px;
}

form:not(.addRecipe) input[type=text], 
form:not(.addRecipe) input[type=password] {
	border-bottom: 1px solid black;
}

header {
	margin-top:20px;
	/*border-bottom: 2px solid black;*/
	background: url(../src/assets/flowerBorder.svg) no-repeat center center;
	padding: 200px 0;
	max-width: 100%;
}

h1, h2, .signOut, h3 {
	/*position: relative;
	top: 250px;*/
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	padding-top: 50px;
	text-align: center;
}

i.fa.fa-chevron-down {
	display: block;
	text-align: center;
	font-size: 10px;
	margin: 0;
}

h2 {
	padding-top: 20px;
}

h3 {
	padding-top: 10px;
	margin-top: 20px;
}

div.leaf {
	background: url(../src/assets/pinkFlower.svg) no-repeat top center;
	padding: 70px;
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 95%;
}

.error {
	border: 2px solid red;
}
.errorLabel {
	color: red;
}

form div {
	text-align: left;
}

form input {
	background: white;
}

.menu {
	position: fixed;
	bottom: 0;
	left: 0;
	text-transform: uppercase;
	padding: 0;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 15px;
	width: 100%;
	z-index: 4;
	background: white;
/*	background: linear-gradient( to top, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0.2));*/
}

.menu .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: baseline;
}

form.addRecipe, .recipe {
	width: 95%;
	margin: 100px auto 0;
	padding: 50px 5%;
	position: relative;
	background-color: #ffffff;
	background-image: url("https://www.transparenttextures.com/patterns/handmade-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */);
	/*background-image: url(../src/assets/handmadepaper_@2X.png);*/
	box-shadow: 1px 1px 2px grey;
}

form.addRecipe .flower{
	width: 150px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

input, label, textarea {
	width: 100%;
	text-align: left;
	border: none;
}

input {
	/*border: 1px solid grey;*/
	padding: 10px;
	margin: 5px 0;
	background: #EAECED;
	/*background: url(../src/assets/line2.svg) no-repeat bottom center;*/
}


i.fa {
	margin-right: 10px;
}

.upperRight, .upperLeft {
	position: absolute;
	font-size: 20px;
	margin-right: 0;
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 2.5px 15px;
}

.upperLeft {
	padding: 1.5px 5px 4px;
}

/*.fa-plus {
	border: 1px solid transparent;
	border-radius: 20px;
}*/

.upperRight{
	top: 20px;
	right: 20px;
}

.upperRight:not(.clickable) {
	color: grey;
}

.clickable:hover {
	border: 1px solid grey;
	cursor: pointer;
}

.upperLeft {
	top: 20px;
	left: 20px;
}

.upperLeft:hover {
	border: 1px solid grey;
	cursor: pointer;
}

.upperRight i, .textHint {
	float: left;
	margin: 0;
}

.textHint {
	font-size: 15px;
	text-transform: uppercase;
	margin-right: 10px;
	font-weight: bold;
}

footer {
	/*border-top: 2px solid black;*/
	margin: 50px 0;
	text-align: center;
	padding: 20px 0;
	clear: both;
}

i.fa-times.remove {
	padding: 5px;
	margin-left: 10px;
	color: #ed5e68;
	text-shadow: 1px 1px 2px #ccc;
}

li.ingredientList {
	border: none;
	padding: 0;
	margin: 0;
}

.required {
/*	color: #ed5e68;*/
	font-weight: bold;
}

.alphabet {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 70px;
	padding: 0;
}

.alphabet li {
	flex: 1 0 auto;
	text-align: center;
}
.alphabet li a {
	padding: 5px;
	font-weight: bold;
}

label.plus {
	width: 10%;
	margin-right: 2.5%;
}

.green {
	color:  #92C38D;
}

.toggleRecipes {
	border: 1px solid black;
	padding: 10px 20px;
	background-color: white;
	box-shadow: 1px 1px 2px grey;
}

button, input[type=submit], aside a {
	border: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	margin: 0;
	text-align: center;
	transition: 0.3s all ease;
	box-shadow: 1px 1px 2px grey;
	text-decoration: none;
	background: #92C38D;
	width: auto;
	border-radius: 0;
/*	border: 1px solid transparent;*/
}

input[type=submit] {
	border: 1px solid transparent;
	width: 100%;
}

input[type=submit]:hover {
	border: 1px solid black;
	background: transparent;
}

button, aside a {
	background: transparent;
}

form button.add {
	width: 100%;
}

button.add {
	text-decoration: none;
	padding: 10px;
	margin-top: 5px;
	background-color: #EAECED;
	border: 1px solid black;
}


button.add:hover {
	background: #92C38D;
}

aside p, aside a {
	margin: 0;
	padding: 0;
	width: 25%;
	text-align: center;
	/*line-height: 0;*/
}

aside a {
	display: block;
}
aside button, aside a {
	padding: 20px 10px;
	box-shadow: none;
	width: 100%;
	line-height: 0;
	transition: background 0.3s ease;
}

aside button:hover, aside a:hover {
	background: #fcdfbf;
}

aside p.active button:hover {
	background: #164052;
}

.addrec:hover {
	cursor: pointer;
}

.active {
	background: #164052;
	/*background: linear-gradient( to top, #4d7984 85%, white 100%);*/
}

.active button {
	color: white;
}

div.search {
	position: fixed;
	top: 40px;
	right: 40px;
	text-align: right;
	z-index: 5;
}

.search i.fa {
	margin-right: 0;
	background: transparent;
/*	float: left;*/
	font-size: 25px;
}

.search input {
	width: 150px;
	background: white;
	border-bottom: 1px solid black;
	float: left;
	margin-top: -10px;
	margin-right: 10px;
}

.info {
	position: fixed;
	top: 40px;
	left: 10px;
	right: 10px;
	z-index: 5;
}

.info i.fa {
	font-size: 25px;
}

.moreInfo {
	/*width: 95%;*/
	background: white;
	box-shadow: 1px 1px 2px grey;
	line-height: 1.5;
	padding: 10px;
	margin: 0;
	top: 20px;
	position: relative;
}

.notVisible {
	display: none;
}

.visible {
	display: block;
}

.recipeSection {
	margin-top: 100px;
}

@media (min-width: 900px) {
	aside .wrapper {
		align-items: center;
		width: 70%;
	}
	form.addRecipe, .recipe {
		width: 70%;
	}
	.moreInfo h2, .moreInfo p{
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}
}

@media (min-width: 400px) {
	.signUp, .signIn {
		width: calc(50% - 20px);
		margin: 20px 10px;
	}
	.enterIngred {
		width: 80%;
	}
	form button.add {
		width: 20%;
		margin-top: 0;
	}
	.search input {
		width: 300px;
	}
	.info {
		left: 40px;
		right: 40px;
	}
	.moreInfo {
		padding: 40px;
	}
}

@media (min-width: 600px) {
	.enterIngred {
		width: 80%;
	}
	form button.add {
		width: calc(20% - 10px);
		margin-left: 10px;
	}
}






/* nav buttons */
@media (max-width: 630px) {
	aside p, aside button, aside a {
		line-height: 1.2;
		font-size: 12px;
	}
	aside i.fa {
		display: block;
		margin-right: 0;
		font-size: 18px;
		margin-bottom: 5px;
	}
}

@media (max-width: 460px) {
	aside i.fa {
		font-size: 20px;
	}
	aside span {
		font-size: 8px;
	}
}

